.translation { font-size: 0.875em; }
.author { font-size: 0.875em; }
.source { font-size: 0.875em; }
.note { font-size: 0.875em; }
.color { font-size: 0.875em; }
.blue { background-color:#ccccff}
.green { background-color:#ccffcc}
.id { font-size: 0.5em }
